footer.site-footer.bg-blue-fo.mt-0.mt-md-0.py-5
    .container
        .row.justify-content-between
            .col
                a(href="")
                    img.img-fluid(width='150' src="img/logo-white.png")
                p.text-white.mb-4.mt-4.font-zize-direc Blas Parera 3551, Olivos B1636. Buenos Aires, Argentina
                a#Politics_link.mr-4.link(href="https://flambeaucapital.com/privacy" target='_blank') Política de Privacidad
                a#Terms_link.link(href="https://flambeaucapital.com/terms" target='_blank') Términos y Condiciones
            div(align='right')
                button.btn.btn-outline-social-f.btn-circle.mr-2(type='button' onclick="window.open('https://www.linkedin.com/company/flambeaucapital')")
                    i.icon-linkedin
                button.btn.btn-outline-social-f.btn-circle.mr-2(type='button' onclick="window.open('https://twitter.com/flambeaucapital')")
                    i.icon-twitter