head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    //-Font Awesome
    link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.0.10/css/all.css")
    //-Flambeaucapital-icon
    link(rel="stylesheet", href="css/icomoon/flambeaucapital-icon.css")
    //-bootstrap
    link(rel="stylesheet", href="css/bootstrap.min.css")
    //-Flambeaucapital
    link(rel="stylesheet", href="css/flambeaucapital.css")
    //-Owl-carousel
    link(rel="stylesheet", href="css/owl-carousel.css")
    link(rel="stylesheet", href="css/owl.theme.default.css")
    //-Style customm
    //-link(rel="stylesheet", href="css/style.css")
    block title