<!DOCTYPE html>
html(lang="en")
    include ../components/_head
    body
        // Main Navigation
        header
            include ../components/_menu_sidebar
            include ../components/_header
        // Main layout
        main
            .container-md
                block content
        footer
        include ../components/_footer
        script(type="text/javascript" src="js/jquery-3.4.1.min.js")
        script(type="text/javascript" src="js/popper.min.js")
        script(type="text/javascript" src="js/bootstrap.js")
        script(type="text/javascript" src="js/owl-carousel.js")
        script(type="text/javascript" src="js/mdb.min.js")
        script(type="text/javascript" src="js/script.js")
        block script
        script.
            $(document).ready(function(){
                var container = document.querySelector('.custom-scrollbar');
                var ps = new PerfectScrollbar(container, {
                    wheelSpeed: 2,
                    wheelPropagation: true,
                    minScrollbarLength: 20
                });

                // SideNav Button Initialization
                $(".button-collapse").sideNav({
                    edge: 'right', // Choose the horizontal origin
                    closeOnClick: false, // Closes side-nav on &lt;a&gt; clicks, useful for Angular/Meteor
                    breakpoint: 5440, // Breakpoint for button collapse
                    menuWidth: 240, // Width for sidenav
                    timeDurationOpen: 500, // Time duration open menu
                    timeDurationClose: 500, // Time duration open menu
                    timeDurationOverlayOpen: 200, // Time duration open overlay
                    timeDurationOverlayClose: 200, // Time duration close overlay
                    easingOpen: 'easeInOutQuad', // Open animation
                    easingClose: 'easeInOutQuad', // Close animation
                    showOverlay: true, // Display overflay
                    showCloseButton: false, // Append close button into siednav
                    slim: false, // turn on slime mode
                    onOpen: null, // callback function
                    onClose: null, // callback function
                });
                $('#closed').on('click', function () {
                    $('#sidenav-overlay').click();
                });
            });
            $(function () {
                $('#dark-mode').on('click', function (e) {

                    e.preventDefault();

                    $('footer, .card').toggleClass('dark-card-admin');
                    $('body, .navbar').toggleClass('white-skin navy-blue-skin');
                    $(this).toggleClass('white text-dark btn-outline-black');
                    $('body').toggleClass('dark-bg-admin');
                    $('h6, .card, p, td, th, i, li a, h4, input, label').not(
                        '#slide-out i, #slide-out a, .dropdown-item i, .dropdown-item').toggleClass('text-white');
                    $('.btn-dash').toggleClass('grey blue').toggleClass('lighten-3 darken-3');
                    $('.gradient-card-header').toggleClass('white black lighten-4');
                    $('.list-panel a').toggleClass('navy-blue-bg-a text-white').toggleClass('list-group-border');

                });
            });
