extends ../layouts/_layaout_uno
block menu
    .bg-blue-fo.d-none.d-xl-block(data-aos='fade')
        .justify-content-right.text-right.mr-5
            a(href="").text-primary ESP
            span.mx-2.text-white /
            a(href="").text-white ENG
    nav.navbar.fixed-top.navbar-expand-lg.scrolling-navbar.double-nav.bg-white.py-2.px-md-5.mt-nav-md
        .container
            // Breadcrumb
            a(href="").breadcrumb-dn.mr-auto
                img(src="img/logo-gray.png").col-md-8
            .d-flex.change-mode.col-9.px-0.flex-row
                //.ml-auto.mb-0.mr-3.change-mode-wrapper
                    button#dark-mode.btn.btn-outline-black.btn-sm Change Mode
                // Navbar links
                ul.nav.navbar-nav.nav-flex-icons.ml-auto.d-md-flex.d-none
                    li.nav-item
                        a(href="oportunidades.html").nav-link.text-dark
                            span.clearfix.d-none.d-sm-inline-block Oportunidades
                    li.nav-item
                        a(href="proceso.html").nav-link.text-dark
                            span.clearfix.d-none.d-sm-inline-block Proceso Flambeau
                    li.nav-item
                        a(href="contacto.html").nav-link.text-dark
                            span.clearfix.d-none.d-sm-inline-block Contacto
                    li.nav-item.mx-4.raya-vertical
                    li.d-flex
                        div.text-dark(style="display:grid").text-right
                            span.brand-text.text-dark Esteban Gorostarzu
                            a(href="").text-dark.closed-session-link
                                small Cerrar sesion
                        div.ml-3
                            img.brand-image.img-circle.elevation-3.avatar.px-0(src="https://ui-avatars.com/api/?name=EG&rounded=true&background=50C2F7&color=ffffff" alt='Flambeau Logo' style='opacity: .8')
                        hr
                // Navbar
                a(href="").py-2.d-bloc.d-md-none
                    img(src="img/logo-gray.png").col-9
                p
            // SideNav slide-out button
            .float-right.d-md-none.d-block.col-3.px-0.text-right
                a.button-collapse(href='#' data-activates='slide-out')
                    i.fas.fa-bars.text-muted.font-30
block content
    .container.d-md-block.d-none
        .col-md-10.mx-auto
            // Section: Analytical panel
            section.mb-5.pb-5.pt-md-5.mt-md-5.pt-5
                .pt-5.mt-md-0.mt-4
                    .row
                        .col-md-5.col-12
                            div.pb-1.pt-3
                                h1.text-primary.font-weight-500 Mensaje enviado con éxito
                                p.font-14.mt-md-4    En este breve video te explicamos un ejemplo completo de como
                                    | son los pasos que se llevan a cabo desde que una empresa se postula,
                                    | es analizada y seleccionada hasta su exit.
    section.mb-5.pt-md-5.mt-md-5.pt-5.d-md-none.d-block
        .pt-5.mt-md-0.mt-4.container
            .row.col-md-10.mx-auto.px-0
                .col-md-4.col-12
                    div.pb-1.pt-3
                        h1.text-primary Mensaje enviado con éxito
                        p.font-14.mt-md-4    En este breve video te explicamos un ejemplo completo de como
                            | son los pasos que se llevan a cabo desde que una empresa se postula,
                            | es analizada y seleccionada hasta su exit.