extends ../layouts/_layaout_uno
block content
    .container
        .col-md-10.mx-auto
            // Section: Analytical panel
            section.mt-md-5.pt-md-2.mb-5.d-none.d-md-block
                // Section: Analytical panel
                div.mt-md-4.pt-md-5.mb-5
                    h2 Ontech Group
                    // Card
                    .card.card-cascade.narrower
                        div.container-portada.grey.lighten-1
                        div.bg-white.footer-portada
                            .row.col-md-12.justify-content-between
                                .photo-perfil.bg-white.view.view-cascade.gradient-card-header.p-0
                                    img(src="img/ontech-test.png").photo-perfil
                                .menu-footer-portada.d-flex.align-items-center.link-footer-perfil
                                    div
                                        a.font-14
                                            i.fas.fa-tag.mr-3
                                            |Tecnology
                                    div.mx-5
                                        a.font-14
                                            i.fas.fa-map-marker-alt.mr-3
                                            |Argentina
                                    div
                                        a.font-14
                                            i.fas.fa-usd-circle.mr-3
                                            |Funding target <span class="font-weight-bold">U$S 500.000</span>
                                div
                                    button.btn.btn-primary.btn-rounded.btn-sm.font-14 Me interesa
            section.mt-md-5.pt-md-5.mb-5.pt-3.border-radius-card.border-0.d-block.d-md-none
                // Section: Analytical panel
                div.mt-5.pt-5.mb-5
                    a.text-primary.pt-5.font-weight-500
                        i.fal.fa-chevron-left.mr-3
                        | Volver
                    // Card
                    .card.card-cascade.narrower(style='height: auto;')
                        div
                           img(src="img/ontech-test.png").photo-perfil.mx-auto.d-block
                        div.bg-white
                            img(src="img/prev-video.png" , style="width: 100%;")
                            button.btn.btn-primary.btn-rounded.btn-sm.col-11.mx-auto.d-block.mt-3 Me interesa
                        div.row.p-4
                            div.col-md-7
                                h5.text-primary.font-weight-500 Overview
                                hr
                                p.font-14 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                    | when an unknown printer took a galley of type and scrambled it to make a type
                                    | specimen book. It has survived not only five centuries, but also the leap into
                                    | electronic typesetting, remaining essentially unchanged. It was popularised in
                                    | the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                    | and more recently with desktop publishing software like Aldus PageMaker including
                                    | versions of Lorem Ipsum.
                                hr
                            div.col-md-4.px-0.align-items-center.d-flex.px-3
                                table(style="width:100%;")
                                    tr
                                        td.font-14(style="width:37%;") Funding target
                                        td.font-14.pl-3.font-weight-bold U$S 500.000
                                    tr
                                        td.font-14 Round
                                        td.font-14.pl-3.font-weight-bold Serie B
                                    tr
                                        td.font-14 Pre-Money Valuation
                                        td.font-14.pl-3.font-weight-bold $65.000,00
                                    tr
                                        td.font-14 Co Invertores
                                        td.font-14.pl-3.font-weight-bold Aston Partners, Reinke Irrigation, FarmAgro, GERMiNB ventures, GreeSoil Inverstments, Finistere Ventures
                                    tr
                                        td.font-14 Website
                                        td.font-14.pl-3.font-weight-bold www.hddingr.com
            section.card.bg-white.mb-5.p-5.border-radius-card.border-0.d-md-block.d-none
                div.row
                    div.col-md-7
                        h5.text-primary.font-weight-500 Overview
                        p.font-14 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            | when an unknown printer took a galley of type and scrambled it to make a type
                            | specimen book. It has survived not only five centuries, but also the leap into
                            | electronic typesetting, remaining essentially unchanged. It was popularised in
                            | the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            | and more recently with desktop publishing software like Aldus PageMaker including
                            | versions of Lorem Ipsum.
                    div.col-md-4.px-0.align-items-center.d-flex.px-3.raya-vertical
                        table(style="width:100%;").mt-4
                            tr
                                td.font-13(style="width:37%;").text-secondary Funding target
                                td.font-13.pl-3.font-weight-bold U$S 500.000
                            tr
                                td.font-13.text-secondary Round
                                td.font-13.pl-3.font-weight-bold Serie B
                            tr
                                td.font-13.text-secondary Pre-Money Valuation
                                td.font-13.pl-3.font-weight-bold $65.000,00
                            tr
                                td.font-13.text-secondary Co Invertores
                                td.font-13.pl-3.font-weight-bold Aston Partners, Reinke Irrigation, FarmAgro, GERMiNB ventures, GreeSoil Inverstments, Finistere Ventures
                            tr
                                td.font-13.text-secondary Website
                                td.font-13.pl-3.font-weight-bold www.hddingr.com
            section.card.bg-white.mb-5.p-5.border-radius-card.border-0
                h5.text-primary.font-weight-500 Key Highlights
                div.row.mt-3
                    div.col-md-6
                        ul.font-14.list-group
                            li.d-flex.py-2.align-items-center
                                i.far.fa-chevron-right.mr-3.text-secondary.font-weight-bold
                                div Lorem ipsum dolor sit amet, consectetur adipiscing.
                            li.d-flex.py-2.align-items-center
                                i.far.fa-chevron-right.mr-3.text-secondary.font-weight-bold
                                div Integer nec eros porttitor, vehicula metus a, blandit.
                            li.d-flex.py-2.align-items-center
                                i.far.fa-chevron-right.mr-3.text-secondary.font-weight-bold
                                div Sed eget justo vel lorem laoreet vulputate convallis.
                            li.d-flex.py-2.align-items-center
                                i.far.fa-chevron-right.mr-3.text-secondary.font-weight-bold
                                div Sed vitae sem in metus posuere consequat.
            section.card.bg-white.mb-5.pb-5.border-radius-card.border-0
                .px-5.pt-5
                    .d-flex.pb-1
                        h5.text-primary.font-weight-500 Galeria
                div.mt-3
                    div.owl-carousel-1.owl-carousel
                        div
                            img(src="img/imagen-1.png")
                        div
                            img(src="img/imagen-2.png")
                        div
                            img(src="img/imagen-3.png")
                        div
                            img(src="img/imagen-3.png")
                    div.d-flex.mt-4.justify-content-center
                        a.prev
                            i.fal.fa-chevron-left.font-24
                        span.mx-5.nav-carousel    0 de 0
                        a.next
                            i.fal.fa-chevron-right.font-24
            section.card.bg-white.mb-5.py-5.border-radius-card.border-0
                .d-flex.pb-1.px-md-5
                    h5.text-primary.font-weight-500 Video
                div.row.mt-3.px-md-5
                    .col-md-9.col-12
                        iframe(style="width:100%;height:100%;" src="https://www.youtube.com/embed/fHspVzRTaZQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                    .col-md-3.d-md-block.d-none
                        iframe(style="width:100%;" src="https://www.youtube.com/embed/fHspVzRTaZQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                        iframe(style="width:100%;" src="https://www.youtube.com/embed/fHspVzRTaZQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            section.card.bg-white.mb-5.p-5.border-radius-card.border-0.d-none.d-md-block(style="height: 415px;")
                .d-flex.border-bottom.pb-1
                    h5.text-primary.font-weight-500 Team
                div
                    div.owl-carousel-2.owl-carousel
                        div.card-photo-carousel(data-id=".text-1")
                            img(src="img/persona-slider.png").col-11.pl-0
                            div.mt-3
                                h6.text-secondary.font-weight-500.mb-0.font-15  Esteban Gorostarzu
                                p.font-12  Managing Partner
                            div.my-4
                                a.iconos
                                    i.fab.fa-linkedin-in.font-15
                                a.iconos.ml-2.deploy(data-id=".text-1")
                                    i.far.fa-plus
                            div.text-1(style="display:none;")
                                p.font-12   Aenean ante ex, hendrerit accumsan molestie sit amet, pharetra
                                    |   in risus. Maecenas aliquet pulvinar lacus et rhoncus. Curabitur
                                    |   pulvinar leo ac enim interdum consequat. Vivamus bibendum tristique
                                    |   turpis, eget elementum nibh ultricies ut. Etiam justo diam, blandit
                                    |   condimentum maximus ac(data-.d="#text-2")
                        div.card-photo-carousel(data-id=".text-2")
                            img(src="img/persona-slider.png").col-11.pl-0
                            div.mt-3
                                h6.text-secondary.font-weight-500.mb-0.font-15  Esteban Gorostarzu
                                p.font-12  Managing Partner
                            div.my-4
                                a.iconos
                                    i.fab.fa-linkedin-in.font-15
                                a.iconos.ml-2.deploy(data-id=".text-2")
                                    i.far.fa-plus
                            div.text-2(style="display:none;")
                                p.font-12   Aenean ante ex, hendrerit accumsan molestie sit amet, pharetra
                                    |   in risus. Maecenas aliquet pulvinar lacus et rhoncus. Curabitur
                                    |   pulvinar leo ac enim interdum consequat. Vivamus bibendum tristique
                                    |   turpis, eget elementum nibh ultricies ut. Etiam justo diam, blandit
                                    |   condimentum maximus ac
                        div.card-photo-carousel(data-id=".text-3")
                            img(src="img/persona-slider.png").col-11.pl-0
                            div.mt-3
                                h6.text-secondary.font-weight-500.mb-0.font-15  Esteban Gorostarzu
                                p.font-12  Managing Partner
                            div.my-4
                                a.iconos
                                    i.fab.fa-linkedin-in.font-15
                                a.iconos.ml-2.deploy(data-id=".text-3")
                                    i.far.fa-plus
                            div.text-3(style="display:none;")
                                p.font-12   Aenean ante ex, hendrerit accumsan molestie sit amet, pharetra
                                    |   in risus. Maecenas aliquet pulvinar lacus et rhoncus. Curabitur
                                    |   pulvinar leo ac enim interdum consequat. Vivamus bibendum tristique
                                    |   turpis, eget elementum nibh ultricies ut. Etiam justo diam, blandit
                                    |   condimentum maximus ac
                        div.card-photo-carousel(data-id=".text-4")
                            img(src="img/persona-slider.png").col-11.pl-0
                            div.mt-3
                                h6.text-secondary.font-weight-500.mb-0.font-15  Esteban Gorostarzu
                                p.font-12  Managing Partner
                            div.my-4
                                a.iconos
                                    i.fab.fa-linkedin-in.font-15
                                a.iconos.ml-2.deploy(data-id=".text-4")
                                    i.far.fa-plus
                            div.text-4(style="display:none;")
                                p.font-12   Aenean ante ex, hendrerit accumsan molestie sit amet, pharetra
                                    |   in risus. Maecenas aliquet pulvinar lacus et rhoncus. Curabitur
                                    |   pulvinar leo ac enim interdum consequat. Vivamus bibendum tristique
                                    |   turpis, eget elementum nibh ultricies ut. Etiam justo diam, blandit
                                    |   condimentum maximus ac
                        div.card-photo-carousel(data-id=".text-5")
                            img(src="img/persona-slider.png").col-11.pl-0
                            div.mt-3
                                h6.text-secondary.font-weight-500.mb-0.font-15  Esteban Gorostarzu
                                p.font-12  Managing Partner
                            div.my-4
                                a.iconos
                                    i.fab.fa-linkedin-in.font-15
                                a.iconos.ml-2.deploy(data-id=".text-5")
                                    i.far.fa-plus
                            div.text-5(style="display:none;")
                                p.font-12   Aenean ante ex, hendrerit accumsan molestie sit amet, pharetra
                                    |   in risus. Maecenas aliquet pulvinar lacus et rhoncus. Curabitur
                                    |   pulvinar leo ac enim interdum consequat. Vivamus bibendum tristique
                                    |   turpis, eget elementum nibh ultricies ut. Etiam justo diam, blandit
                                    |   condimentum maximus ac
                        div.card-photo-carousel(data-id=".text-6")
                            img(src="img/persona-slider.png").col-11.pl-0
                            div.mt-3
                                h6.text-secondary.font-weight-500.mb-0.font-15  Esteban Gorostarzu
                                p.font-12  Managing Partner
                            div.my-4
                                a.iconos
                                    i.fab.fa-linkedin-in.font-15
                                a.iconos.ml-2.deploy(data-id=".text-6")
                                    i.far.fa-plus
                            div.text-6(style="display:none;")
                                p.font-12   Aenean ante ex, hendrerit accumsan molestie sit amet, pharetra
                                    |   in risus. Maecenas aliquet pulvinar lacus et rhoncus. Curabitur
                                    |   pulvinar leo ac enim interdum consequat. Vivamus bibendum tristique
                                    |   turpis, eget elementum nibh ultricies ut. Etiam justo diam, blandit
                                    |   condimentum maximus ac
            section.card.bg-white.mb-5.py-5.border-radius-card.border-0.d-block.d-md-none(style="height: auto;")
                .d-flex.pb-1.px-3
                    h5.text-primary.font-weight-500 Team
                div.px-4
                    div.d-block(data-id=".text-1")
                        div.d-flex
                            div.col-4.px-0.align-items-center.d-flex
                                img(src="img/persona-slider.png", style="width: 100% !important;").pl-0
                            div.col-8.px-0
                                div.mt-3.col-12
                                    h6.text-secondary.font-weight-500.mb-0.font-15  Esteban Gorostarzu
                                    p.font-12  Managing Partner
                                div.mb-4.col-12
                                    a.iconos
                                        i.fab.fa-linkedin-in.font-15
                                    a.iconos.ml-2.deploy(data-id=".text-1")
                                        i.far.fa-plus
                        div.text-1.col-12(style="display:none;")
                            p.font-12   Aenean ante ex, hendrerit accumsan molestie sit amet, pharetra
                                |   in risus. Maecenas aliquet pulvinar lacus et rhoncus. Curabitur
                                |   pulvinar leo ac enim interdum consequat. Vivamus bibendum tristique
                                |   turpis, eget elementum nibh ultricies ut. Etiam justo diam, blandit
                                |   condimentum maximus ac(data-.d="#text-2")
                    div.d-block(data-id=".text-2")
                        div.d-flex
                            div.col-4.px-0.align-items-center.d-flex
                                img(src="img/persona-slider.png", style="width: 100% !important;").pl-0
                            div.col-8.px-0
                                div.mt-3.col-12
                                    h6.text-secondary.font-weight-500.mb-0.font-15  Esteban Gorostarzu
                                    p.font-12  Managing Partner
                                div.mb-4.col-12
                                    a.iconos
                                        i.fab.fa-linkedin-in.font-15
                                    a.iconos.ml-2.deploy(data-id=".text-2")
                                        i.far.fa-plus
                        div.text-2.col-12(style="display:none;")
                            p.font-12   Aenean ante ex, hendrerit accumsan molestie sit amet, pharetra
                                |   in risus. Maecenas aliquet pulvinar lacus et rhoncus. Curabitur
                                |   pulvinar leo ac enim interdum consequat. Vivamus bibendum tristique
                                |   turpis, eget elementum nibh ultricies ut. Etiam justo diam, blandit
                                |   condimentum maximus ac(data-.d="#text-2")
                    div.d-block(data-id=".text-3")
                        div.d-flex
                            div.col-4.px-0.align-items-center.d-flex
                                img(src="img/persona-slider.png", style="width: 100% !important;").pl-0
                            div.col-8.px-0
                                div.mt-3.col-12
                                    h6.text-secondary.font-weight-500.mb-0.font-15  Esteban Gorostarzu
                                    p.font-12  Managing Partner
                                div.mb-4.col-12
                                    a.iconos
                                        i.fab.fa-linkedin-in.font-15
                                    a.iconos.ml-2.deploy(data-id=".text-3")
                                        i.far.fa-plus
                        div.text-3.col-12(style="display:none;")
                            p.font-12   Aenean ante ex, hendrerit accumsan molestie sit amet, pharetra
                                |   in risus. Maecenas aliquet pulvinar lacus et rhoncus. Curabitur
                                |   pulvinar leo ac enim interdum consequat. Vivamus bibendum tristique
                                |   turpis, eget elementum nibh ultricies ut. Etiam justo diam, blandit
                                |   condimentum maximus ac(data-.d="#text-2")
                    div.d-block(data-id=".text-4")
                        div.d-flex
                            div.col-4.px-0.align-items-center.d-flex
                                img(src="img/persona-slider.png", style="width: 100% !important;").pl-0
                            div.col-8.px-0
                                div.mt-3.col-12
                                    h6.text-secondary.font-weight-500.mb-0.font-15  Esteban Gorostarzu
                                    p.font-12  Managing Partner
                                div.mb-4.col-12
                                    a.iconos
                                        i.fab.fa-linkedin-in.font-15
                                    a.iconos.ml-2.deploy(data-id=".text-4")
                                        i.far.fa-plus
                        div.text-4.col-12(style="display:none;")
                            p.font-12   Aenean ante ex, hendrerit accumsan molestie sit amet, pharetra
                                |   in risus. Maecenas aliquet pulvinar lacus et rhoncus. Curabitur
                                |   pulvinar leo ac enim interdum consequat. Vivamus bibendum tristique
                                |   turpis, eget elementum nibh ultricies ut. Etiam justo diam, blandit
                                |   condimentum maximus ac(data-.d="#text-2")
            section.card.bg-white.mb-5.p-md-5.py-5.border-radius-card.border-0.d-block.d-md-none
                div.d-flex.pb-1.px-3
                    h5.text-primary.font-weight-500 Presentación
                    a.ml-auto
                        i.fas.fa-cloud-download-alt
                div.mt-3
                    div.px-md-4
                        img(src="img/img-presentacion.png" style="width:100%;")
            section.card.bg-white.mb-5.p-md-5.py-5.border-radius-card.border-0.d-none.d-md-block
                div.d-flex.border-bottom.pb-1
                    h5.text-primary.font-weight-500 Presentación
                    a.ml-auto
                        i.fas.fa-cloud-download-alt
                div.mt-3
                    div.px-md-4
                        img(src="img/img-presentacion.png" style="width:100%;")
            section.card.bg-white.mb-5.p-md-5.py-5.px-3.px-md-0.border-radius-card.border-0
                div.d-flex.border-bottom.pb-1
                    h5.text-primary.font-weight-500 Más info
                div.row.mt-3
                    #accordionEx.accordion.md-accordion.mt-4(role='tablist' aria-multiselectable='true').col-12
                        .card
                            // Card header
                            #headingOne1.card-header(role='tab')
                                a.collapsed.d-flex(data-toggle='collapse' data-parent='#accordionEx' href='#collapseOne1' aria-expanded='true' aria-controls='collapseOne1')
                                    h5.mb-0.mr-3
                                        i.fal.fa-plus-circle.rotate-icon
                                    h5.mb-0
                                        | Executive summary
                            // Card body
                            #collapseOne1.collapse.show(role='tabpanel' aria-labelledby='headingOne1' data-parent='#accordionEx')
                                .card-body
                                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                                    | wolf moon officia aute,
                                    | non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                    | 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                    | shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                    | sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    | farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                    | accusamus labore sustainable VHS.
                        .card
                            // Card header
                            #headingTwo2.card-header(role='tab')
                                a.collapsed.d-flex(data-toggle='collapse' data-parent='#accordionEx' href='#collapseTwo2' aria-expanded='false' aria-controls='collapseTwo2')
                                    h5.mb-0.mr-3
                                        i.fal.fa-plus-circle.rotate-icon
                                    h5.mb-0
                                        | Quick Facts
                            // Card body
                            #collapseTwo2.collapse(role='tabpanel' aria-labelledby='headingTwo2' data-parent='#accordionEx')
                                .card-body
                                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                                    | wolf moon officia aute,
                                    | non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                    | 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                    | shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                    | sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    | farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                    | accusamus labore sustainable VHS.
                        .card
                            // Card header
                            #headingThree3.card-header(role='tab')
                                a.collapsed.d-flex(data-toggle='collapse' data-parent='#accordionEx' href='#collapseThree3' aria-expanded='false' aria-controls='collapseThree3')
                                    h5.mb-0.mr-3
                                        i.fal.fa-plus-circle.rotate-icon
                                    h5.mb-0
                                        | Investment Overview
                            // Card body
                            #collapseThree3.collapse(role='tabpanel' aria-labelledby='headingThree3' data-parent='#accordionEx')
                                .card-body
                                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                                    | wolf moon officia aute,
                                    | non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                    | 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                    | shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                    | sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    | farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                    | accusamus labore sustainable VHS.
                        .card
                            // Card header
                            #headingThree4.card-header(role='tab')
                                a.collapsed.d-flex(data-toggle='collapse' data-parent='#accordionEx' href='#collapseThree4' aria-expanded='false' aria-controls='collapseThree4')
                                    h5.mb-0.mr-3
                                        i.fal.fa-plus-circle.rotate-icon
                                    h5.mb-0
                                        | Investment Overview
                            // Card body
                            #collapseThree4.collapse(role='tabpanel' aria-labelledby='headingThree4' data-parent='#accordionEx')
                                .card-body
                                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                                    | wolf moon officia aute,
                                    | non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                    | 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                    | shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                    | sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    | farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                    | accusamus labore sustainable VHS.
                        .card
                            // Card header
                            #headingThree5.card-header(role='tab')
                                a.collapsed.d-flex(data-toggle='collapse' data-parent='#accordionEx' href='#collapseThree5' aria-expanded='false' aria-controls='collapseThree5')
                                    h5.mb-0.mr-3
                                        i.fal.fa-plus-circle.rotate-icon
                                    h5.mb-0
                                        | Product Solution
                            // Card body
                            #collapseThree5.collapse(role='tabpanel' aria-labelledby='headingThree5' data-parent='#accordionEx')
                                .card-body
                                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                                    | wolf moon officia aute,
                                    | non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                    | 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                    | shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                    | sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    | farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                    | accusamus labore sustainable VHS.
                        .card
                            // Card header
                            #headingThree6.card-header(role='tab')
                                a.collapsed.d-flex(data-toggle='collapse' data-parent='#accordionEx' href='#collapseThree6' aria-expanded='false' aria-controls='collapseThree6')
                                    h5.mb-0.mr-3
                                        i.fal.fa-plus-circle.rotate-icon
                                    h5.mb-0
                                        | Product Solution
                            // Card body
                            #collapseThree6.collapse(role='tabpanel' aria-labelledby='headingThree6' data-parent='#accordionEx')
                                .card-body
                                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                                    | wolf moon officia aute,
                                    | non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                    | 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                    | shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                    | sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    | farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                    | accusamus labore sustainable VHS.
            section.mb-5.border-radius-card.border-0.d-none.d-md-block
                div.d-flex.pb-1
                    h6.font-weight-500 Otras oportunidades
                div.row.mt-3.px-md-3
                    div.owl-carousel-3.owl-carousel
                        .card.border-radius-card.border-0
                            .view.overlay
                                img.card-img-top.border-radius-top(src='img/imagen-1.png' alt='fern')
                                a
                                    .mask.rgba-white-slight
                            .card-body
                                //
                                    a.activator.mr-3
                                        i.fas.fa-share-alt
                                p.card-title Nombre empresa
                                div.d-flex
                                    div
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-tag.mr-2
                                            span Tecnology
                                    div.ml-3
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-map-marker-alt.mr-2
                                            span Argentina
                                hr.mt-1
                                p.card-text
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mi ante,
                                    | suscipit vel ornare id, aliquet et quam. Donec in facilisis augue.
                                    | Quisque sollicitudin
                                hr
                                h6.text-center.text-primary Funding target <span class="font-weight-bold">U$S 500.000.-</span>
                                a.btn.btn-primary.btn-rounded.btn-sm.mx-auto.d-block.mt-3
                                    |    VER OPORTUNIDAD
                        .card.border-radius-card.border-0
                            .view.overlay
                                img.card-img-top.border-radius-top(src='img/imagen-2.png' alt='fern')
                                a
                                    .mask.rgba-white-slight
                            .card-body
                                //
                                    a.activator.mr-3
                                        i.fas.fa-share-alt
                                p.card-title Nombre empresa
                                div.d-flex
                                    div
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-tag.mr-2
                                            span Tecnology
                                    div.ml-3
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-map-marker-alt.mr-2
                                            span Argentina
                                hr.mt-1
                                p.card-text
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mi ante,
                                    | suscipit vel ornare id, aliquet et quam. Donec in facilisis augue.
                                    | Quisque sollicitudin
                                hr
                                h6.text-center.text-primary Funding target <span class="font-weight-bold">U$S 500.000.-</span>
                                a.btn.btn-primary.btn-rounded.btn-sm.mx-auto.d-block.mt-3
                                    |    VER OPORTUNIDAD
                        .card.border-radius-card.border-0
                            .view.overlay
                                img.card-img-top.border-radius-top(src='img/imagen-3.png' alt='fern')
                                a
                                    .mask.rgba-white-slight
                            .card-body
                                //
                                    a.activator.mr-3
                                        i.fas.fa-share-alt
                                p.card-title Nombre empresa
                                div.d-flex
                                    div
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-tag.mr-2
                                            span Tecnology
                                    div.ml-3
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-map-marker-alt.mr-2
                                            span Argentina
                                hr.mt-1
                                p.card-text
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mi ante,
                                    | suscipit vel ornare id, aliquet et quam. Donec in facilisis augue.
                                    | Quisque sollicitudin
                                hr
                                h6.text-center.text-primary Funding target <span class="font-weight-bold">U$S 500.000.-</span>
                                a.btn.btn-primary.btn-rounded.btn-sm.mx-auto.d-block.mt-3
                                    |    VER OPORTUNIDAD
            section.mb-5.border-radius-card.border-0.d-block.d-md-none
                div.d-flex.pb-1
                    h6.font-weight-500 Otras oportunidades
                div.row.mt-3.px-md-3
                    div.owl-carousel-4.owl-carousel
                        .card.border-radius-card.border-0
                            .view.overlay
                                img.card-img-top.border-radius-top(src='img/imagen-1.png' alt='fern')
                                a
                                    .mask.rgba-white-slight
                            .card-body
                                //
                                    a.activator.mr-3
                                        i.fas.fa-share-alt
                                p.card-title Nombre empresa
                                div.d-flex
                                    div
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-tag.mr-2
                                            span Tecnology
                                    div.ml-3
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-map-marker-alt.mr-2
                                            span Argentina
                                hr.mt-1
                                p.card-text
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mi ante,
                                    | suscipit vel ornare id, aliquet et quam. Donec in facilisis augue.
                                    | Quisque sollicitudin
                                hr
                                h6.text-center.text-primary Funding target <span class="font-weight-bold">U$S 500.000.-</span>
                                a.btn.btn-primary.btn-rounded.btn-sm.mx-auto.d-block.mt-3
                                    |    VER OPORTUNIDAD
                        .card.border-radius-card.border-0
                            .view.overlay
                                img.card-img-top.border-radius-top(src='img/imagen-2.png' alt='fern')
                                a
                                    .mask.rgba-white-slight
                            .card-body
                                //
                                    a.activator.mr-3
                                        i.fas.fa-share-alt
                                p.card-title Nombre empresa
                                div.d-flex
                                    div
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-tag.mr-2
                                            span Tecnology
                                    div.ml-3
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-map-marker-alt.mr-2
                                            span Argentina
                                hr.mt-1
                                p.card-text
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mi ante,
                                    | suscipit vel ornare id, aliquet et quam. Donec in facilisis augue.
                                    | Quisque sollicitudin
                                hr
                                h6.text-center.text-primary Funding target <span class="font-weight-bold">U$S 500.000.-</span>
                                a.btn.btn-primary.btn-rounded.btn-sm.mx-auto.d-block.mt-3
                                    |    VER OPORTUNIDAD
                        .card.border-radius-card.border-0
                            .view.overlay
                                img.card-img-top.border-radius-top(src='img/imagen-3.png' alt='fern')
                                a
                                    .mask.rgba-white-slight
                            .card-body
                                //
                                    a.activator.mr-3
                                        i.fas.fa-share-alt
                                p.card-title Nombre empresa
                                div.d-flex
                                    div
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-tag.mr-2
                                            span Tecnology
                                    div.ml-3
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-map-marker-alt.mr-2
                                            span Argentina
                                hr.mt-1
                                p.card-text
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mi ante,
                                    | suscipit vel ornare id, aliquet et quam. Donec in facilisis augue.
                                    | Quisque sollicitudin
                                hr
                                h6.text-center.text-primary Funding target <span class="font-weight-bold">U$S 500.000.-</span>
                                a.btn.btn-primary.btn-rounded.btn-sm.mx-auto.d-block.mt-3
                                    |    VER OPORTUNIDAD