extends ../layouts/_layaout_uno
block content
    .container
        .col-md-10.mx-auto.col-11
            // Section: Analytical panel
            section.mt-md-5.pt-md-5.mb-5
                div.pb-1.pt-3
                    p.mb-0.text-muted MEMBERS
                    h3.text-primary.font-weight-500 Otras oportunidades
                div.row.mt-3.px-3
                    div.row.my-md-3.mb-3
                        .card.border-radius-card.border-0.col-md.px-0.card-hover-oportunidades
                            .view.overlay
                                img.card-img-top.border-radius-top(src='img/imagen-1.png' alt='fern')
                                a
                                    .mask.rgba-white-slight
                            .card-body.pt-1
                                //
                                    a.activator.mr-3
                                        i.fas.fa-share-alt
                                p.card-title.font-12.mb-1.text-dark Nombre empresa
                                div.d-flex
                                    div
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-tag.mr-2
                                            span Tecnology
                                    div.ml-3
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-map-marker-alt.mr-2
                                            span Argentina
                                hr.mt-2.mb-2
                                p.card-text.font-12.mb-2
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mi ante,
                                    | suscipit vel ornare id, aliquet et quam.
                                hr.mt-2
                                h6.text-center.text-primary.font-12 Funding target <span class="font-weight-bold">U$S 500.000.-</span>
                                a(href="index.html").btn.btn-primary.btn-rounded.btn-sm.mx-auto.d-block.mt-3.mx-auto
                                    |    VER OPORTUNIDAD
                        .card.border-radius-card.border-0.col-md.px-0.card-hover-oportunidades.mx-md-3.my-3.my-md-0
                            .view.overlay
                                img.card-img-top.border-radius-top(src='img/imagen-1.png' alt='fern')
                                a
                                    .mask.rgba-white-slight
                            .card-body.pt-1
                                //
                                    a.activator.mr-3
                                        i.fas.fa-share-alt
                                p.card-title.font-12.mb-1.text-dark Nombre empresa
                                div.d-flex
                                    div
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-tag.mr-2
                                            span Tecnology
                                    div.ml-3
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-map-marker-alt.mr-2
                                            span Argentina
                                hr.mt-2.mb-2
                                p.card-text.font-12.mb-2
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mi ante,
                                    | suscipit vel ornare id, aliquet et quam.
                                hr.mt-2
                                h6.text-center.text-primary.font-12 Funding target <span class="font-weight-bold">U$S 500.000.-</span>
                                a(href="index.html").btn.btn-primary.btn-rounded.btn-sm.mx-auto.d-block.mt-3.mx-auto
                                    |    VER OPORTUNIDAD
                        .card.border-radius-card.border-0.col-md.px-0.card-hover-oportunidades.mr-3
                            .view.overlay
                                img.card-img-top.border-radius-top(src='img/imagen-1.png' alt='fern')
                                a
                                    .mask.rgba-white-slight
                            .card-body.pt-1
                                //
                                    a.activator.mr-3
                                        i.fas.fa-share-alt
                                p.card-title.font-12.mb-1.text-dark Nombre empresa
                                div.d-flex
                                    div
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-tag.mr-2
                                            span Tecnology
                                    div.ml-3
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-map-marker-alt.mr-2
                                            span Argentina
                                hr.mt-2.mb-2
                                p.card-text.font-12.mb-2
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mi ante,
                                    | suscipit vel ornare id, aliquet et quam.
                                hr.mt-2
                                h6.text-center.text-primary.font-12 Funding target <span class="font-weight-bold">U$S 500.000.-</span>
                                a(href="index.html").btn.btn-primary.btn-rounded.btn-sm.mx-auto.d-block.mt-3.mx-auto
                                    |    VER OPORTUNIDAD
                        .card.border-radius-card.border-0.col-md.px-0.card-hover-oportunidades
                            .view.overlay
                                img.card-img-top.border-radius-top(src='img/imagen-1.png' alt='fern')
                                a
                                    .mask.rgba-white-slight
                            .card-body.pt-1
                                //
                                    a.activator.mr-3
                                        i.fas.fa-share-alt
                                p.card-title.font-12.mb-1.text-dark Nombre empresa
                                div.d-flex
                                    div
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-tag.mr-2
                                            span Tecnology
                                    div.ml-3
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-map-marker-alt.mr-2
                                            span Argentina
                                hr.mt-2.mb-2
                                p.card-text.font-12.mb-2
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mi ante,
                                    | suscipit vel ornare id, aliquet et quam.
                                hr.mt-2
                                h6.text-center.text-primary.font-12 Funding target <span class="font-weight-bold">U$S 500.000.-</span>
                                a(href="index.html").btn.btn-primary.btn-rounded.btn-sm.mx-auto.d-block.mt-3.mx-auto
                                    |    VER OPORTUNIDAD
                    div.row.my-md-3.mb-3
                        .card.border-radius-card.border-0.col-md.px-0.card-hover-oportunidades
                            .view.overlay
                                img.card-img-top.border-radius-top(src='img/imagen-1.png' alt='fern')
                                a
                                    .mask.rgba-white-slight
                            .card-body.pt-1
                                //
                                    a.activator.mr-3
                                        i.fas.fa-share-alt
                                p.card-title.font-12.mb-1.text-dark Nombre empresa
                                div.d-flex
                                    div
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-tag.mr-2
                                            span Tecnology
                                    div.ml-3
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-map-marker-alt.mr-2
                                            span Argentina
                                hr.mt-2.mb-2
                                p.card-text.font-12.mb-2
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mi ante,
                                    | suscipit vel ornare id, aliquet et quam.
                                hr.mt-2
                                h6.text-center.text-primary.font-12 Funding target <span class="font-weight-bold">U$S 500.000.-</span>
                                a(href="index.html").btn.btn-primary.btn-rounded.btn-sm.mx-auto.d-block.mt-3.mx-auto
                                    |    VER OPORTUNIDAD
                        .card.border-radius-card.border-0.col-md.px-0.card-hover-oportunidades.mx-md-3.my-3.my-md-0
                            .view.overlay
                                img.card-img-top.border-radius-top(src='img/imagen-1.png' alt='fern')
                                a
                                    .mask.rgba-white-slight
                            .card-body.pt-1
                                //
                                    a.activator.mr-3
                                        i.fas.fa-share-alt
                                p.card-title.font-12.mb-1.text-dark Nombre empresa
                                div.d-flex
                                    div
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-tag.mr-2
                                            span Tecnology
                                    div.ml-3
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-map-marker-alt.mr-2
                                            span Argentina
                                hr.mt-2.mb-2
                                p.card-text.font-12.mb-2
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mi ante,
                                    | suscipit vel ornare id, aliquet et quam.
                                hr.mt-2
                                h6.text-center.text-primary.font-12 Funding target <span class="font-weight-bold">U$S 500.000.-</span>
                                a(href="index.html").btn.btn-primary.btn-rounded.btn-sm.mx-auto.d-block.mt-3.mx-auto
                                    |    VER OPORTUNIDAD
                        .card.border-radius-card.border-0.col-md.px-0.card-hover-oportunidades.mr-3
                            .view.overlay
                                img.card-img-top.border-radius-top(src='img/imagen-1.png' alt='fern')
                                a
                                    .mask.rgba-white-slight
                            .card-body.pt-1
                                //
                                    a.activator.mr-3
                                        i.fas.fa-share-alt
                                p.card-title.font-12.mb-1.text-dark Nombre empresa
                                div.d-flex
                                    div
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-tag.mr-2
                                            span Tecnology
                                    div.ml-3
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-map-marker-alt.mr-2
                                            span Argentina
                                hr.mt-2.mb-2
                                p.card-text.font-12.mb-2
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mi ante,
                                    | suscipit vel ornare id, aliquet et quam.
                                hr.mt-2
                                h6.text-center.text-primary.font-12 Funding target <span class="font-weight-bold">U$S 500.000.-</span>
                                a(href="index.html").btn.btn-primary.btn-rounded.btn-sm.mx-auto.d-block.mt-3.mx-auto
                                    |    VER OPORTUNIDAD
                        .card.border-radius-card.border-0.col-md.px-0.card-hover-oportunidades
                            .view.overlay
                                img.card-img-top.border-radius-top(src='img/imagen-1.png' alt='fern')
                                a
                                    .mask.rgba-white-slight
                            .card-body.pt-1
                                //
                                    a.activator.mr-3
                                        i.fas.fa-share-alt
                                p.card-title.font-12.mb-1.text-dark Nombre empresa
                                div.d-flex
                                    div
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-tag.mr-2
                                            span Tecnology
                                    div.ml-3
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-map-marker-alt.mr-2
                                            span Argentina
                                hr.mt-2.mb-2
                                p.card-text.font-12.mb-2
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mi ante,
                                    | suscipit vel ornare id, aliquet et quam.
                                hr.mt-2
                                h6.text-center.text-primary.font-12 Funding target <span class="font-weight-bold">U$S 500.000.-</span>
                                a(href="index.html").btn.btn-primary.btn-rounded.btn-sm.mx-auto.d-block.mt-3.mx-auto
                                    |    VER OPORTUNIDAD

                    div.row.my-md-3.mb-3
                        .card.border-radius-card.border-0.col-md.px-0.card-hover-oportunidades
                            .view.overlay
                                img.card-img-top.border-radius-top(src='img/imagen-1.png' alt='fern')
                                a
                                    .mask.rgba-white-slight
                            .card-body.pt-1
                                //
                                    a.activator.mr-3
                                        i.fas.fa-share-alt
                                p.card-title.font-12.mb-1.text-dark Nombre empresa
                                div.d-flex
                                    div
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-tag.mr-2
                                            span Tecnology
                                    div.ml-3
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-map-marker-alt.mr-2
                                            span Argentina
                                hr.mt-2.mb-2
                                p.card-text.font-12.mb-2
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mi ante,
                                    | suscipit vel ornare id, aliquet et quam.
                                hr.mt-2
                                h6.text-center.text-primary.font-12 Funding target <span class="font-weight-bold">U$S 500.000.-</span>
                                a(href="index.html").btn.btn-primary.btn-rounded.btn-sm.mx-auto.d-block.mt-3.mx-auto
                                    |    VER OPORTUNIDAD
                        .card.border-radius-card.border-0.col-md.px-0.card-hover-oportunidades.mx-md-3.my-3.my-md-0
                            .view.overlay
                                img.card-img-top.border-radius-top(src='img/imagen-1.png' alt='fern')
                                a
                                    .mask.rgba-white-slight
                            .card-body.pt-1
                                //
                                    a.activator.mr-3
                                        i.fas.fa-share-alt
                                p.card-title.font-12.mb-1.text-dark Nombre empresa
                                div.d-flex
                                    div
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-tag.mr-2
                                            span Tecnology
                                    div.ml-3
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-map-marker-alt.mr-2
                                            span Argentina
                                hr.mt-2.mb-2
                                p.card-text.font-12.mb-2
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mi ante,
                                    | suscipit vel ornare id, aliquet et quam.
                                hr.mt-2
                                h6.text-center.text-primary.font-12 Funding target <span class="font-weight-bold">U$S 500.000.-</span>
                                a(href="index.html").btn.btn-primary.btn-rounded.btn-sm.mx-auto.d-block.mt-3.mx-auto
                                    |    VER OPORTUNIDAD
                        .card.border-radius-card.border-0.col-md.px-0.card-hover-oportunidades.mr-3
                            .view.overlay
                                img.card-img-top.border-radius-top(src='img/imagen-1.png' alt='fern')
                                a
                                    .mask.rgba-white-slight
                            .card-body.pt-1
                                //
                                    a.activator.mr-3
                                        i.fas.fa-share-alt
                                p.card-title.font-12.mb-1.text-dark Nombre empresa
                                div.d-flex
                                    div
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-tag.mr-2
                                            span Tecnology
                                    div.ml-3
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-map-marker-alt.mr-2
                                            span Argentina
                                hr.mt-2.mb-2
                                p.card-text.font-12.mb-2
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mi ante,
                                    | suscipit vel ornare id, aliquet et quam.
                                hr.mt-2
                                h6.text-center.text-primary.font-12 Funding target <span class="font-weight-bold">U$S 500.000.-</span>
                                a(href="index.html").btn.btn-primary.btn-rounded.btn-sm.mx-auto.d-block.mt-3.mx-auto
                                    |    VER OPORTUNIDAD
                        .card.border-radius-card.border-0.col-md.px-0.card-hover-oportunidades
                            .view.overlay
                                img.card-img-top.border-radius-top(src='img/imagen-1.png' alt='fern')
                                a
                                    .mask.rgba-white-slight
                            .card-body.pt-1
                                //
                                    a.activator.mr-3
                                        i.fas.fa-share-alt
                                p.card-title.font-12.mb-1.text-dark Nombre empresa
                                div.d-flex
                                    div
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-tag.mr-2
                                            span Tecnology
                                    div.ml-3
                                        a.font-12.d-flex.align-items-center.text-primary
                                            i.fas.fa-map-marker-alt.mr-2
                                            span Argentina
                                hr.mt-2.mb-2
                                p.card-text.font-12.mb-2
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mi ante,
                                    | suscipit vel ornare id, aliquet et quam.
                                hr.mt-2
                                h6.text-center.text-primary.font-12 Funding target <span class="font-weight-bold">U$S 500.000.-</span>
                                a(href="index.html").btn.btn-primary.btn-rounded.btn-sm.mx-auto.d-block.mt-3.mx-auto
                                    |    VER OPORTUNIDAD
            // Modal: Login / Register Form Demo
            #modalLRFormDemo.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
                .modal-dialog.cascading-modal(role='document')
                    // Content
                    .modal-content.border-radius-card
                        // Modal cascading tabs
                        .modal-c-tabs.p-4
                            h2.display-3.text-muted.d-block.opacity-3.font-welcom-modal(style="opacity: .3;font-weight: 200;") BIENVENIDO
                            div
                                p.text-primary.mb-0 Hola Esteban
                                p.mt-2 Te damos la bienvenida al Círculo de Members de Flambeau Capital Partners.
                                p.font-12  A través de esta plataforma tendrás acceso a nuestra vidriera de oportunidades seleccionadas por nuestro equipo y advisors especialistas.
                                div.mt-4(style="justify-content: center;display: grid;")
                                    a.btn.btn-primary.btn-rounded.mx-auto.btn-md.col-12.d-block EMPEZAR
                                    fieldset.form-check.mt-4
                                        input#checkbox2.form-check-input.filled-in(type='checkbox')
                                        label.form-check-label(for='checkbox2') Aceptar terminos y condiciones.

block script
    script.
        $('#modalLRFormDemo').modal('show');