extends ../layouts/_layaout_uno
block content
    .col-md-10.mx-auto
        // Section: Analytical panel
        section.mb-5.pb-5.pt-md-5.mt-md-5.pt-5
            .pt-5.mt-md-0.mt-4
                .row
                    .col-md-4
                        div.pb-1.pt-3
                            p.mb-0.text-muted MEMBERS
                            h1.text-primary.font-weight-500 Nuestro proceso
                            p.font-14.mt-md-4    En este breve video te explicamos un ejemplo completo de como
                                | son los pasos que se llevan a cabo desde que una empresa se postula,
                                | es analizada y seleccionada hasta su exit.
                    .col-md-8
                        iframe(style="width:100%;height:100%;" src="https://www.youtube.com/embed/fHspVzRTaZQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
